.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: #000;
  }
  
  .a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }
  
  .image {
    height: 30px;
    width: 30px;
  }
  